:root{
  --bgcolor:black;
  --textcolor:snow;
}

*{
  margin:0.5rem;
}

body{
  background-color: var(--bgcolor);
}

.center{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}